{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Bitcoin World</title>

    <link href="//fonts.googleapis.com/css2?family=Prompt:wght@300;400;600&display=swap" rel="stylesheet">
    <link href="//fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Template CSS -->
    <link rel="stylesheet" href="{% static 'css/style-starter.css' %}">

   
  </head>
<body>
   <!--/Header-->
   <header id="site-header" class="fixed-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light stroke">
            <h1><a class="navbar-brand" href="#">
                Bitcoin <span class="sub-color">World</span>
            </a></h1>
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                <span class="navbar-toggler-icon fa icon-close fa-times"></span>
            </button>
            
            <!-- toggle switch for light and dark theme -->
            
            <!-- //toggle switch for light and dark theme -->
        </nav>
    </div>
</header>
<!--//Header-->
<!--/Banner-Start-->
<section class="banner-19">
    <div class="banner-layer">
        <div class="main-content-top">
            <div class="container">
                <div class="main-content">
                    <div class="w3lbanner-left">
                        <!-- if logo is image enable this   
                    <a class="logo" href="index.html">
                        <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
                    </a> -->
                        <h6>Organise all your cryptocurrencies wallet easily with this app</h6>
                        <h4>Easy wallet synchronization</h4>

                        <a href="#grids1" class="btn btn-style btn-primary mt-md-5 mt-4">View wallet</a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>
<!--//Banner-End-->

<!--/w3l-grids-3hny-->
<section class="w3l-grids-3hny py-5" id="grids1">
    <div class="container py-lg-5 py-md-3">
        <div class="wthree-header-section text-center">
            
            <h3 class="title-w3l mb-4">Please select a wallet</h3>
        </div>
        <div class="grids-of-3 row text-center">
            <div class="col-lg-4 col-md-6 mt-5">
                <div class="grids3-info" style="background-color: #ddd;">
                    <a href="/metamask" class="d-block zoom"><img src="{% static 'images/metamask.png' %}" alt="" class="img-fluid radius-image"></a>
                    <div class="grids-of-3-saas-info">
                        <h5><a href="#" class="title" style="color:white; margin-top:5px">Metamask</a></h5>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-5">
                <div class="grids3-info">
                    <a href="/trustwallet" class="d-block zoom"><img src="{% static 'images/trust.png' %}" alt="" class="img-fluid radius-image"></a>
                    <div class="grids-of-3-saas-info">
                        <h5><a href="#" class="title" style="color:white; margin-top:5px">Trust wallet</a></h5>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-5">
                <div class="grids3-info" style="background-color: #ddd;">
                    <a href="/coinbase" class="d-block zoom"><img src="{% static 'images/coinbase.png' %}" alt="" class="img-fluid radius-image"></a>
                    <div class="grids-of-3-saas-info">
                        <h5><a href="#" class="title" style="color:white; margin-top:5px">Coinbase</a></h5>
                        
                    </div>
                </div>
            </div>
        </div>
<br>

        <div class="grids-of-3 row text-center">
            <div class="col-lg-4 col-md-6 mt-5">
                <div class="grids3-info" style="background-color: #ddd;">
                    <a href="/alphawallet" class="d-block zoom"><img src="{% static 'images/alphawallet.png' %}" alt="" class="img-fluid radius-image"></a>
                    <div class="grids-of-3-saas-info">
                        <h5><a href="#" class="title" style="color:white; margin-top:5px">Alpha wallet</a></h5>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-5">
                <div class="grids3-info" style="background-color: #ddd;">
                    <a href="/tokenpocket" class="d-block zoom"><img src="{% static 'images/tokenpocket.png' %}" alt="" class="img-fluid radius-image"></a>
                    <div class="grids-of-3-saas-info">
                        <h5><a href="#" class="title" style="color:white; margin-top:5px">Token pocket</a></h5>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-5">
                <div class="grids3-info" style="background-color: #ddd;">
                    <a href="/unstoppable" class="d-block zoom"><img src="{% static 'images/unstoppable.png' %}" alt="" class="img-fluid radius-image"></a>
                    <div class="grids-of-3-saas-info">
                        <h5><a href="#" class="title" style="color:white; margin-top:5px">Unstoppable</a></h5>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>


    
</section>

 <!--/w3l-grids-3hny-->
 <section class="w3l-grids-3hny py-5" id="grids1">
  <div class="container py-lg-5 py-md-3">
      
      <div class="grids-of-3 row text-center">
          <div class="col-lg-4 col-md-6 mt-5">
              <div class="grids3-info" style="background-color: #ddd;">
                  <a href="/argentwallet" class="d-block zoom"><img src="{% static 'images/argent.png' %}" alt="" class="img-fluid radius-image"></a>
                  <div class="grids-of-3-saas-info">
                      <h5><a href="#" class="title" style="color:white; margin-top:5px">Argent</a></h5>
                      
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-5">
              <div class="grids3-info">
                  <a href="/atomic" class="d-block zoom"><img src="{% static 'images/atomic.png' %}" alt="" class="img-fluid radius-image"></a>
                  <div class="grids-of-3-saas-info">
                      <h5><a href="#" class="title" style="color:white; margin-top:15px">Atomic wallet</a></h5>
                      
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-5">
              <div class="grids3-info" style="background-color: #ddd;">
                  <a href="/atwallet" class="d-block zoom"><img src="{% static 'images/atwallet.png' %}" alt="" class="img-fluid radius-image"></a>
                  <div class="grids-of-3-saas-info">
                      <h5><a href="#" class="title" style="color:white; margin-top:5px">Atwallet</a></h5>
                      
                  </div>
              </div>
          </div>
      </div>
<br>

      <div class="grids-of-3 row text-center">
          <div class="col-lg-4 col-md-6 mt-5">
              <div class="grids3-info" style="background-color: #ddd;">
                  <a href="/exodus" class="d-block zoom"><img src="{% static 'images/exodus.png' %}" alt="" class="img-fluid radius-image"></a>
                  <div class="grids-of-3-saas-info">
                      <h5><a href="#" class="title" style="color:white; margin-top:5px">Exodus</a></h5>
                      
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-5">
              <div class="grids3-info" style="background-color: #ddd;">
                  <a href="/infinito" class="d-block zoom"><img src="{% static 'images/infinito.png' %}" alt="" class="img-fluid radius-image"></a>
                  <div class="grids-of-3-saas-info">
                      <h5><a href="#" class="title" style="color:white; margin-top:15px">Infinito</a></h5>
                      
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-5">
              <div class="grids3-info" style="background-color: #ddd;">
                  <a href="/midas" class="d-block zoom"><img src="{% static 'images/midas.png' %}" alt="" class="img-fluid radius-image"></a>
                  <div class="grids-of-3-saas-info">
                      <h5><a href="# " class="title" style="color:white; margin-top:5px">Midas</a></h5>
                      
                  </div>
              </div>
          </div>
      </div>
  </div>


  
</section>

  <br>
  
 
  <!--/footer-->
  <footer class="w3l-footer-29-main" style="margin-top:25px">
      <div class="footer-29-w3l py-5">
          <div class="container pt-md-5">
              <div class="w3l-footer-text-style">
                  <div class="footer-list-cont d-sm-flex align-items-center justify-content-between mb-5">

                      <h2 class="w3logo"><a class="navbar-brand" href="#">
                              Bitcoin <span class="sub-color">World</span>
                          </a></h2>
                      <div class="main-social-footer-29">
                          <ul>
                              <li class="w3follow mt-sm-0 mt-4">Follows On : </li>
                              <li><a href="#facebook" class="facebook"><i class="fab fa-facebook-f"></i></a></li>
                              <li><a href="#twitter" class="twitter"><i class="fab fa-twitter"></i></a></li>
                              <li><a href="#instagram" class="instagram"><i class="fab fa-instagram"></i></a></li>
                              <li><a href="#linkedin" class="linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                          </ul>

                      </div>
                  </div>
              </div>
              
              <!-- copyright -->
              <div class="w3l-copyright text-center mt-lg-5 mt-sm-4 pt-md-4 pt-3">
                  <p class="copy-footer-29">© 2023 Bitcoin World. All rights reserved</p>
              </div>
          </div>
      </div>
  </footer>
  <!-- //footer -->
<!-- Js scripts -->
  <!-- move top -->
  <button onclick="topFunction()" id="movetop" title="Go to top">
      <span class="fas fa-long-arrow-alt-up" aria-hidden="true"></span>
  </button>
  <script>
      // When the user scrolls down 20px from the top of the document, show the button
      window.onscroll = function() {
          scrollFunction()
      };

      function scrollFunction() {
          if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
              document.getElementById("movetop").style.display = "block";
          } else {
              document.getElementById("movetop").style.display = "none";
          }
      }

      // When the user clicks on the button, scroll to the top of the document
      function topFunction() {
          document.body.scrollTop = 0;
          document.documentElement.scrollTop = 0;
      }

  </script>
  <!-- //move top -->

  <!-- Template JavaScript -->
  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'assets/js/theme-change.js' %}"></script>
  <script src="{% static 'js/circles.js' %}"></script>

  <!-- MENU-JS -->
  <script>
      $(window).on("scroll", function() {
          var scroll = $(window).scrollTop();

          if (scroll >= 80) {
              $("#site-header").addClass("nav-fixed");
          } else {
              $("#site-header").removeClass("nav-fixed");
          }
      });

      //Main navigation Active Class Add Remove
      $(".navbar-toggler").on("click", function() {
          $("header").toggleClass("active");
      });
      $(document).on("ready", function() {
          if ($(window).width() > 991) {
              $("header").removeClass("active");
          }
          $(window).on("resize", function() {
              if ($(window).width() > 991) {
                  $("header").removeClass("active");
              }
          });
      });

  </script>
  <!-- //MENU-JS -->

  <!-- disable body scroll which navbar is in active -->
  <script>
      $(function() {
          $('.navbar-toggler').click(function() {
              $('body').toggleClass('noscroll');
          })
      });

  </script>
  <!-- //disable body scroll which navbar is in active -->
  <!-- //bootstrap -->
  <script src="{% static 'js/bootstrap.min.js' %}"></script>

</body>

</html>